#imageUpload{
    display: none;
}
/*
#foto-dokter{
    cursor: pointer;
}
#profile-container {
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
*/